     <tr>

                <td>
                {{timestamp}}
                </td>

                <td>
                {{weight}}
                </td>
                <td>
                {{chest}}
                </td>
                <td>
                {{thigh}}
                </td>
                <td>
               {{upperArm}}
                </td>
                <td>
                {{waist}}
                </td>
                <td>
                {{hips}}
                </td>
               <td>
              
              <i class="{{setAssessmentTrend trend}}"></i>
            </td>
                <td rows="2">
                {{comment}}
                </td>


            </tr>