 {{> memberMenu id='userMenu' }}

<section class="ui raised segment">
    <h2 class="ui header" style="padding-left: 15px; padding-bottom: 10px;">
        Account Settings
        <div class="sub header">Edit your account details.</div>
    </h2>

    <div class="ui three column divided grid">
        <!--Start of row-->
        <div class="stretched row">
            <!--Start of column-->
            <div class="column">
                <div class="ui segment">
                    <img class="ui image" src="https://cdn.glitch.com/0a0827f0-515d-4bba-8237-feb833061164%2Fuserpage.png?v=1596036911136">
                </div>
            </div>
            <!--End of column-->

            <!--Start of column-->
            <div class="column">
                <div class="ui segment">

                    <h2 class="ui center aligned icon header">
                        <i class="circular users icon"></i>
                    {{user.name}}


                    </h2>
                    <h3 class="ui center aligned header">{{user.email}}</h3>


                </div>
                <div class="ui segment">


                    <div class="ui center aligned icon header">

                        <i class="user outline icon"></i>{{user.gender}}
                    </div>


                </div>
            </div>
            <!--End of column-->

            <!--Start of column-->
            <div class="column">
                <div class="ui segment">
                    <div class="ui horizontal statistics">
                        <div class="statistic">
                            <div class="value">
                                <i class="weight icon" style="padding-right: 10px;"></i> {{user.startingWeight}}
                            </div>
                            <div class="label">
                                Starting Weight (kgs)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="ui segment">
                    <div class="ui horizontal statistics">
                        <div class="statistic">
                            <div class="value">
                                <i class="dna icon" style="padding-right: 10px;"></i>{{user.height}}
                            </div>
                            <div class="label">
                                Height (metres)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment">

                    <div class="ui horizontal statistics">
                        <div class="statistic">
                        {{#if singularCondition}}
                            <div class="value">
                                <i class="plus square outline icon"
                                   style="padding-right: 10px;"></i> {{assessments}}
                            </div>
                            <div class="label">
                                Assessment Completed
                            </div>
                       
                        {{else}}
                            <div class="value">
                                <i class="plus square outline icon"
                                   style="padding-right: 10px;"></i>{{assessments}}
                            </div>
                            <div class="label">
                                Assessments Completed
                            </div>
                        {{/if}}
                        </div>
                    </div>


                </div>
            </div>
            <!--End of column-->
        </div>
        <!--End of row-->
    </div>


    <div class="ui two column grid basic middle aligned segment">
        <!--Start of column-->
        <div class="column">

            <form class="ui stacked segment form" action="/editAccountName" method="POST">

                <div class="field">
                    <label>Edit Name</label>
                    <input type="text" placeholder="Enter Name" name="name">

                </div>
                <button class="ui blue submit button">Submit</button>
            </form>
            <form class="ui stacked segment form" action="/editAccountGender" method="POST">

                <div class="field">
                    <label>Edit Gender</label>
                    <input type="text" placeholder="Enter Gender" name="gender">

                </div>
                <button class="ui blue submit button">Submit</button>
            </form>
            <form class="ui stacked segment form" action="/editAccountEmail" method="POST">

                <div class="field">
                    <label>Edit Email</label>
                    <input type="text" placeholder="Enter Email" name="email">

                </div>
                <button class="ui blue submit button">Submit</button>
            </form>


        </div>
        <!--End of column-->

        <!--Start of column-->
        <div class="column">
            <form class="ui stacked segment form" action="/editAccountPassword" method="POST">

                <div class="field">
                    <label>Edit Password</label>
                    <input type="text" placeholder="Enter Password" name="password">

                </div>
                <button class="ui blue submit button">Submit</button>
            </form>
            <form class="ui stacked segment form" action="/editAccountHeight" method="POST">

                <div class="field">
                    <label>Edit Height</label>
                    <input type="text" placeholder="Enter Height" name="height">

                </div>
                <button class="ui blue submit button">Submit</button>
            </form>
            <form class="ui stacked segment form" action="/editAccountWeight" method="POST">

                <div class="field">
                    <label>Edit Weight</label>
                    <input type="text" placeholder="Enter Weight" name="weight">

                </div>
                <button class="ui blue submit button">Submit</button>
            </form>

        </div>
        <!--End of column-->
    </div>
</section>