{{> trainerMenu id='trainerMenu' }}

<section class="ui raised segment">
 
  
  <section class="ui raised segment">
    <div class="ui four column stackable center aligned grid">

        <div class="middle aligned row">
            <!--Start of Column-->
            <div class="column">
                <div class="ui icon header">
                    <i class="user icon"></i>
                {{user.name}}
                </div>

            </div>
            <!--End of Column-->

            <!--Start of Column-->
            <div class="column">
                <div class="ui icon header">
                {{#if isIdealWeight}}
                    <i class="tachometer alternate icon" style="color: green;"></i>
                    <p class="ui big text">IDEAL WEIGHT</p>
              
                {{else}}
                    <i class="tachometer alternate icon" style="color: red;"></i>
                    <p class="ui big text">NOT IDEAL WEIGHT</p>
                {{/if}}

                </div>

            </div>
            <!--End of Column-->

            <!--Start of Column -->
            <div class="column">

                <div class="ui items">
                    <div class="item">
                        <div class="middle aligned content">
                            <div class="header">
                                <i class="big heartbeat icon" style="margin-bottom: 10px;"></i>

                                <span class="ui big text">{{bmi}}</span>

                                <p class="ui big text" style="padding-left: 25px;">BMI</p>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
            <!--End of Column-->

            <!--Start of Column-->
            <div class="column">
                <div class="ui icon header">
                    <i class="user md icon"></i>
                {{bmiCategory}}

                </div>

            </div>
            <!--End of Column-->
        </div>
    </div>
</section>
  
  
  
  <!--Table to display goal segment-->
  <table class="ui celled table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Metric</th>
      <th>Target Measurement</th>
      <th>Final Measurement</th>
        <th>Status</th>
      <th></th>
    </tr>

    </thead>
    <tbody>
      {{#each goals}}
    <tr>


        <td>
       {{timestamp}}
        </td>
        <td>
     {{measurement}}
        </td>
        <td>
        {{target}}
        </td>
      
        <td>
     {{finalMeasurement}}
        </td>
      
        <td>
        {{status}}
        </td>
      
       <td>
            <a href="/member/deleteGoal/{{id}}" class="ui icon button">
         
                <i class="trash alternate icon"></i>
            </a>
        </td>
       
      
      </tr>
      {{/each}}
      
    </tbody>
    
  </table>
  
  
 
 <!--Form for setting goals-->
  <section class="ui raised segment">

    <form class="ui form" action="/member/{{user.id}}" method="POST">
        <div class="three fields">
            <div class="field">
                <label>Date</label>
                <input placeholder="DD/MM/YYYY" type="date" name="date">
              <!--<div class="ui calendar" id="standard_calendar">
  <div class="ui input left icon">
    <i class="calendar icon"></i>
    <input type="text" placeholder="Date/Time" name="date">
  </div>
</div>-->
            </div>
            <!--<div class="field">
                <label>Measurement</label>
                <input placeholder="Metric" type="text" name="measurement">
            </div>-->
          <div class="field">
            <label>Measurement</label>
<select name="measurement" class="ui fluid search dropdown">
  <!--<option value="">Skills</option>-->
<option value="BMI">BMI</option>
<option value="Ideal Weight">Ideal Weight</option>
<option value="BMI Category">BMI Category</option>
<option value="Weight">Weight</option>
<option value="Chest">Chest</option>
<option value="Thigh">Thigh</option>
<option value="Upper Arm">Upper Arm</option>
<option value="Waist">Waist</option>
<option value="Hips">Hips</option>
</select>
      </div>
          
          <div class="field">
                <label>Target</label>
                <input placeholder="Target" type="number" name="target">
            </div>
        </div>
      
      
      
      
      

        <button class="ui blue submit button">Set Goal</button>
    </form>
</section> 
  
  
  
  
  
<!--

This component displays the list of member assessments to the trainer (the trainer has selected the
relevant member by clicking on the member name following login).

Each assessment is listed using the {list items} syntax to loop through all assessments.
The trainer can add a comment to each assessment.
After a comment is added, the page is refreshed and the comment is displayed on the relevant assessment.

If no assessments have been completed for the member, a component is displayed to the trainer which explains
how the BMI (Body Mass Index), BMI category and ideal weight indicator were calculated.

The trainer can return to the list of members by clicking the button at the bottom of the page.

-->

<section class="ui raised segment">
{{#each assessments}}
    <!--#{if _assessments.size() > 0}-->
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Weight</th>
                <th>Chest</th>
                <th>Thigh</th>
                <th>Upper Arm</th>
                <th>Waist</th>
                <th>Hips</th>
                <th>Comments</th>
            </tr>

            </thead>
            <tbody>

            <tr>

                <td>
                {{timestamp}}
                </td>

                <td>
                {{weight}}
                </td>
                <td>
                {{chest}}
                </td>
                <td>
                {{thigh}}
                </td>
                <td>
               {{upperArm}}
                </td>
                <td>
                {{waist}}
                </td>
                <td>
                {{hips}}
                </td>
                <td>
                {{comment}}
                </td>


            </tr>


            </tbody>


        </table>

    <!--#{/if}-->


    <form class="ui form" action="/member/{{userid}}/{{id}}" method="POST">
        <div class="field">
            <label>Comments</label>
            <input type="text" name="comment" value="{{comment}}">
        </div>

        <button class="ui blue submit button">Update</button>
    </form>

{{/each}}
<!--#{else}

    #{noAssessmentsCompleted /}

    #{returnToTrainerDashBoard /}


#{/else} -->
</section>

{{> returnToTrainerDashboard}}
  
  
</section>